extends layout

block content
  h1= title
  p Welcome to #{title} - Node.js web application framework
  p Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
